{% extends 'base.html' %} {% block content %} {% for post in blogs.all %}

{% if request.user.is_authenticated %}
<h1>환영합니다, {{user.username }}님!</h1>

<a href="javascript:{document.getElementById('logout').submit()}">Logout</a>
                        <form id = 'logout' method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}<input type = 'hidden' />
                        </form> 



<div class="home">
  <h3><a href="{% url 'detail' post.pk %}">{{post.title}}</a></h3>
  <p class="preview">[미리 보기]</p>
  <p>{{post.summary}}</p>
  <p class="date">{{post.date | date:"Y년 n월 j일 G시 i분" }}</p>
</div>
{% endif %}
{% endfor %} {% endblock %}

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>SHOW</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<sc>
<body>
    <h4><a href="{% url 'post' %}"><글쓰기></a></h4>
    {% for board in boards.all %}
        <div class = "container">
            <a href="{% url 'detail' board.id %}">
                <h5> Title : {{board.title}} </h5>
            </a>
            <p> {{board.body}} </p>
            <small class='text-muted'>{{board.pub_date}} </small>
        </div>
    {% endfor %}
